.clap-wrapper {
  display: flex;
  justify-content: space-between;
}
.text-small {
  font-size: 0.65rem;
  padding-left: 0.3rem;
}
.likes {
  cursor: pointer;
}
.dislikes {
  cursor: pointer;
}
.fa-thumbs-up:hover {
  color: greenyellow;
}
.fa-thumbs-down:hover {
  color: crimson;
}
.adminMessage {
  font-size: 0.6rem;
  color: var(--secondary-bg-colour);
  text-transform: uppercase;
  font-weight: bold;
}
